%%-*- mode: erlang -*-

{erl_opts, [warnings_as_errors,
            warn_missing_spec]}.

{cover_enabled, true}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [{report, {eunit_surefire, [{dir, "."}]}}]}.

{qc_opts, [{qc_mod, proper}]}.

{deps, [{proper, ".*",
         {git, "git://github.com/manopapad/proper.git", {branch, "master"}}}]}.

{sub_dirs, ["rel"]}.
