%%-*- mode: erlang -*-

{cover_enabled, true}.

{erl_opts, [warnings_as_errors,
            warn_missing_spec]}.

{eunit_compile_opts, [nowarn_missing_spec]}.

{eunit_opts, [{report, {eunit_surefire, [{dir, "."}]}}]}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.

{qc_opts, [{qc_mod, proper}]}.

{deps, [{proper, ".*",
         {git, "git://github.com/manopapad/proper.git", {branch, "master"}}},
        {erlando, ".*",
         {git, "git://github.com/apauley/erlando.git", {branch, "no_param_modules"}}}]}.

{sub_dirs, ["rel"]}.
